<h1><%= @game.player2.name %> v <%= @game.player2.name %></h1>
<h2>Hit Points</h2>
<strong><%= @game.player2.name %></strong>: <%= @game.player2.hit_points %> HP <br />
<strong><%= @game.player2.name %></strong>: <%= @game.player2.hit_points %> HP


<form method="get" action="/play">
  <input name="attack" type="submit" value="Attack" />
</form>

<% if @attack_player_2 %>
<h2><em><%= @game.player2.name %> was attacked by <%= @game.player1.name %>!</em></h2>
<% end %>
