<h1><%= @player1.name %> v <%= @player2.name %></h1>
<h2>Hit Points</h2>
<strong><%= @player1.name %></strong>: <%= @player1.hit_points %> HP <br />
<strong><%= @player2.name %></strong>: <%= @player2.hit_points %> HP


<form method="get" action="/play">
  <input name="attack" type="submit" value="Attack" />
</form>

<% if @attack %>
<h2><em><%= @player2.name %> was attacked by <%= @player1.name %>!</em></h2>
<% end %>
