<h1> Welcome, <%= @player1.name %> and <%= @player2.name %>! </h1>
<h3> Hit Points </h3>
<table>
    <tr>
      <td> <%= @player1.name %>: <%= @player1.hit_points %> HP </td>
      <td> <%= @player2.name %>: <%= @player2.hit_points %> HP </td>
    </tr>
</table>

<form method="get" action="/play">
  <input name="attack" type="submit" value="Attack!!" />
</form>

<% if @attack %>
<h1> <%= @player2.name %> was attacked by <%= @player1.name %>! </h1>
<% end %>
